.highlight {
  color: var(--primary);
}

.title {
  margin-bottom: 48px;
  text-align: center;
}

.form_container {
  max-width: var(--search-panel-width);
}

.panel {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 20px;
}

.clear {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;

  &:focus {
    outline: 2px solid var(--primary);
    border-radius: var(--input-md-radius);
  }
}
