:root {
  --background: #021e47;
  --primary: #14f1ff;
  --input-border: #005d84;
  --text-primary: #f5f8f9;
  --text-contrast: var(--background);
  --card-border: linear-gradient(#005d84, #84007f);
  --card-background: #01122a;
  --gradient-title: linear-gradient(
    272.15deg,
    #001c1e -21.67%,
    #006089 21.57%,
    #00e0ee 62.15%,
    #effcfd 106.06%
  );
}
