:root {
  --background: #021e47;
  --primary: #14f1ff;
  --input-border: #005d84;
  --text-primary: #f5f8f9;
  --text-contrast: var(--background);
  --card-border: linear-gradient(#005d84, #84007f);
  --card-background: #01122a;
}
